.Todo {
  width: 60vw;
}
.incomplete,
.complete {
  display: inline-block;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
  border: 2px solid gray;
}
.complete {
  background: gray;
}
.text {
  display: inline-block;
  font-size: 2rem;
  line-height: 2em;
  padding-left: 1rem;
}
.delete {
  font-size: 2rem;
  line-height: 2em;
  float: right;
  cursor: pointer;
}
